<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.rajdeep1008.cryptowatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Crypto Watch"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.rajdeep1008.cryptowatch.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SetWatchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.CryptoUpdateService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="Enter your key here" />
    </application>

</manifest>